version: '3.9'

services:

  # ── Infrastructure ──────────────────────────────
  postgres-auth:
    image: postgres:14
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    ports: ['5433:5432']

  postgres-account:
    image: postgres:14
    environment:
      POSTGRES_DB: account_db
      POSTGRES_USER: account_user
      POSTGRES_PASSWORD: account_pass
    ports: ['5434:5432']

  postgres-transaction:
    image: postgres:14
    environment:
      POSTGRES_DB: transaction_db
      POSTGRES_USER: txn_user
      POSTGRES_PASSWORD: txn_pass
    ports: ['5435:5432']

  postgres-loan:
    image: postgres:14
    environment:
      POSTGRES_DB: loan_db
      POSTGRES_USER: loan_user
      POSTGRES_PASSWORD: loan_pass
    ports: ['5436:5432']

  redis:
    image: redis:alpine
    ports: ['6379:6379']

  rabbitmq:
    image: rabbitmq:3-management
    ports: ['5672:5672', '15672:15672']

  # ── Microservices ────────────────────────────────
  auth:
    build: ./auth-service
    ports: ['8001:8001']
    depends_on: [postgres-auth]
    env_file: ./auth-service/.env

  account:
    build: ./account-service
    ports: ['8002:8002']
    depends_on: [postgres-account, auth]
    env_file: ./account-service/.env

  transaction:
    build: ./transaction-service
    ports: ['8003:8003']
    depends_on: [postgres-transaction, redis, rabbitmq, account]
    env_file: ./transaction-service/.env

  loan:
    build: ./loan-service
    ports: ['8004:8004']
    depends_on: [postgres-loan, auth]
    env_file: ./loan-service/.env

  reporting:
    build: ./reporting-service
    ports: ['8005:8005']
    depends_on: [rabbitmq]
    env_file: ./reporting-service/.env

  api-gateway:
    build: ./api-gateway
    ports: ['8000:8000']
    depends_on: [auth, account, transaction, loan, reporting]
